.title
{
    font-size: 23px;
}
.rating-icon
{
    font-size: 50px;
    margin-right: 10px;
}
.locate-cont
{
    margin-top: 20px;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    background-color: #009ACE;
}
.rating-text
{
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
}
.label-text
{
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
}
.border
{
    border: 1px solid #009ACE;
}
.btn-text
{
    font-size: 14px;
}
.no-border
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.profileImg
{
    margin-left: 10px;
    height: 75px;
    width: 75px;
}
.ticket
{
    color: red;
    font-size: 12px;
}
.titleSelect
{
    font-size: 19px;
    font-weight: bold;
}
.mini-text
{
    font-size: 14px;
}
.redText
{
    color: red;
}