<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase main-color title-toolbar">Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="height: 5%"></div>
  <ion-grid>

    <!-- title -->
    <ion-row>
      <ion-col size="1" offset="1"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-text class="main-color ion-text-uppercase title">INGRESA TUS DATOS PERSONALES</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1" offset="1"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-text><hr></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Register Inputs -->
    <form #f="ngForm" (ngSubmit)="onRegister(f)">
      <!-- nombre -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="person" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Nombre
              </ion-text>
            </ion-label>
            <ion-input
              ngModel name="name"
              required
              #nameCtrl="ngModel"
              type="text">
            </ion-input>
          </ion-item>
          <!-- error  -->
          <ion-label *ngIf="!nameCtrl.valid && nameCtrl.touched" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> El nombre es requerido</small>
            </ion-text>
          </ion-label>
          <!--  httpo name error  -->
          <ion-label *ngIf="errors.name[0] !== undefined" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> {{ errors.name[0] }}</small>
            </ion-text><br>
          </ion-label>
           <!-- http last name error  -->
           <ion-label *ngIf="errors.last_name[0] !== undefined" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> {{ errors.last_name[0] }}</small>
            </ion-text><br>
          </ion-label>

        </ion-col>
      </ion-row>

      <!-- email -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="mail" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Email
              </ion-text>
            </ion-label>
            <ion-input
              ngModel name="email"
              required
              email
              #emailCtrl="ngModel"
              type="email">
            </ion-input>
          </ion-item>
          <!-- error  -->
          <ion-label *ngIf="!emailCtrl.valid && emailCtrl.touched" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> El email es requerido</small>
            </ion-text>
          </ion-label>
          <!-- http email error  -->
          <ion-label *ngIf="errors.email[0] !== undefined" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> {{ errors.email[0] }}</small>
            </ion-text><br>
          </ion-label>
         

        </ion-col>
      </ion-row>

      <!-- password -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="lock-closed" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Contraseña</ion-text>
            </ion-label>
            <ion-input
              ngModel name="password"
              minlength="8"
              required
              #passwordCtrl="ngModel"
              type="password">
            </ion-input>
          </ion-item>
          <!-- error  -->
          <ion-label *ngIf="!passwordCtrl.valid && passwordCtrl.touched" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> El password es requerido</small>
            </ion-text>
          </ion-label>
          <!-- http password error  -->
          <ion-label *ngIf="errors.password[0] !== undefined" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> {{ errors.password[0] }}</small>
            </ion-text>
          </ion-label>

        </ion-col>
      </ion-row>

      <!-- password confirm -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="lock-closed" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Repetir contraseña</ion-text>
            </ion-label>
            <ion-input
              ngModel name="confirm_password"
              minlength="8"
              required
              type="password">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Registrar BTN -->
      <ion-row class="ion-margin-top">
        <ion-col class="ion-margin-top">
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!f.valid" 
            class="ion-text-uppercase">
            Registrarme
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>
