.border{
  border: 1px solid #009ACE;
  border-radius: 15px;
  font-size: 12px;
  height: 35px;
}
.prof-cont{
  box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.20);
}
.no-border{
  padding-top: 2px;
  padding-bottom: 2px;
}
.profileImg{
  margin-left: 10px;
  height: 75px;
  width: 75px;
}
.titleSelect{
  font-size: 16px;
  font-weight: bold;
}
.badge-text{
  font-size: 7px;
}
.textSelect{
  font-size: 10px;
  line-height: .5;
}
.ratingText{
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.locate-cont{
  margin-top: 5px;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #009ACE;
}
.rating-text{
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
}
.ticket{
  color: red;
  font-size: 11px;
}
.green-color{
  color: #39AE50;
}
.bg-green-color{
  background-color: #39AE50;
}

.grey-color{
  color: #8E8C89;
}
.bg-grey-color{
  background-color: #8E8C89;
}

.red-color{
  color: red;
}
.bg-red-color{
  background-color: red;
}
