<ion-content>
  <ion-grid fixed>
    
    <!-- SERVICIO REALIZADO  -->
    <div style="height: 30px;"></div>
    <ion-row class="ion-margin-top">
      <div class="status-cont">
        <ion-icon name="send" color="light" class="status-text-icon"></ion-icon>
      </div>
      <ion-col size="10"  offset="1" class="ion-text-center ion-margin-top">
        <ion-text class="main-color status-text"><b>¡SOLICITUD ACEPTADA CON ÉXITO!</b></ion-text><br>
      </ion-col>
      <ion-col size="10"  offset="1" class="ion-text-center">
        <ion-text class="main-color mini-text">El cliente será notificado.</ion-text><br>
      </ion-col>
      <ion-col size="10"  offset="1" class="ion-text-center">
        <ion-text><hr></ion-text>
      </ion-col>
      <ion-col size="10"  offset="1" class="ion-text-center">
        <ion-text class="main-color mini-text" (click)="dismiss()">ACEPTAR</ion-text><br>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>