.no-border
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.test
{
    margin-top: -10px;
}
.titleSelect
{
    font-size: 16px;
    font-weight: bold;
}
.badge-text
{
    font-size: 7px;
}
.textSelect
{
    font-size: 10px;
    line-height: .5;
}
.ticket
{
    color: red;
    font-size: 11px;
    margin-top: -30px;
}
.locate-cont
{
    border-radius: 50px;
    height: 45px;
    width: 45px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: 5px;
    background-color: #009ACE;
}
.status-cont
{
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #009ACE;
}
.status-cont-grey
{
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #8E8C89;
}
.status-cont-red
{
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: red;
}
.rating-text
{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}
.status-text-icon
{
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}
.status-text
{
    font-size: 13px;
}
.status-text-grey
{
    font-size: 13px;
    color: #8E8C89;
}
.status-subtext-grey
{
    font-size: 11px;
    color: #8E8C89;
}
.status-text-red
{
    font-size: 13px;
    color: red;
}
.status-subtext-red
{
    font-size: 11px;
    color: red;
}
.ratingText
{
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.bg-green-color
{
    background-color: #39AE50;
}
.title
{
    font-size: 17px;
}
.redLine
{
    color: red;
    margin-top: -4px;
}