<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/solicitudes" text="" icon="arrow-back"></ion-back-button>
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title class="title-toolbar">SOLICITUD #{{ serviceId }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- top section  -->
  <div class="ion-margin-top no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color ion-text-capitalize">{{ loadedService.supplierName+" "+loadedService.supplierLastName }} </span><br>
            <!-- <ion-badge color="primary" class="badge-text">{{ loadedService.categoryName }}</ion-badge>&nbsp; -->
            <ion-badge 
              color="{{ loadedService.category_id === cat.id ? primary : medium }}" 
              class="badge-text" 
              *ngFor="let cat of loadedService.categories"
              >{{ cat.categoryName }}
            </ion-badge><br>
            <span class="textSelect ion-text-capitalize">
              {{ loadedService.cummunename }}
            </span><br>
            <small class="main-color">{{ wDate }}</small>
          </ion-text>
        </ion-col>

        <!-- Contato icons -->
        <ion-col size="4" class="ion-text-center test">
          <ion-text>
            <span class="titleSelect main-color">Contacto </span><br><br>
            <!-- icons -->
            <div class="locate-cont bg-green-color" (click)="call(loadedService.suplierPhone1)">
              <ion-icon name="call" color="light" class="rating-text"></ion-icon>
            </div>
            <!-- <div class="locate-cont bg-green-color">
              <ion-icon name="logo-whatsapp" color="light" class="rating-text"></ion-icon>
            </div> -->
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- timeline  -->
  <div class="no-border test">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">Solicitud </span>
            <small class="ticket" *ngIf="loadedService">Ticket #{{ loadedService.ticket_number }}</small><br>
            <span class="textSelect" *ngIf="loadedService">{{ loadedService.description }}</span>
          </ion-text>
        </ion-col>

      </ion-row>

      <!-- title -->
      <ion-row class="ion-margin-top">
        <ion-col size="10" offset="1" class="ion-text-center">
          <ion-text class="main-color title"><b>¿EN QUÉ ESTADO SE ENCUENTRA MI SOLICITUD?</b></ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- separating line -->
      <ion-row class="ion-no-margin">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>

      <!-- solicitud enviada  -->
      <ion-row>
        <div class="status-cont" (click)="serviceDetal(1)">
          <ion-icon name="send" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">SOLICITUD ENVIADA</ion-text>
        </ion-col>
      </ion-row>

      <!-- separating line -->
      <ion-row class="ion-no-margin">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>
      <ion-row class="ion-no-margin">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>

      <!-- Visita tecnica agendada  -->
      <!-- gray -->
      <ion-row *ngIf="loadedService.status_id < 2 && loadedService.status_id !== 7">
        <div class="status-cont-grey">
          <ion-icon name="checkmark" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text-grey">VISITA TÉCNICA AGENDADA</ion-text><br>
        </ion-col>
      </ion-row>
      <!-- active  -->
      <ion-row *ngIf="loadedService.status_id > 1 && loadedService.status_id !== 7">
        <div class="status-cont" (click)="serviceDetal(1)">
          <ion-icon name="checkmark" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">VISITA TÉCNICA AGENDADA</ion-text><br>
        </ion-col>
      </ion-row>

      <!-- separating line -->
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id !== 7">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id !== 7">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>

      <!-- Servicio agendado  -->
      <!-- gray  -->
      <ion-row *ngIf="loadedService.status_id < 3 && loadedService.status_id !== 7">
        <div class="status-cont-grey">
          <ion-icon name="calendar" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text-grey">SERVICIO AGENDADO</ion-text><br>
          <!-- <ion-text class="main-color status-subtext-grey">Pendiente de confirmación</ion-text> -->
        </ion-col>
      </ion-row>
      <!-- active  -->
      <ion-row *ngIf="loadedService.status_id > 2 && loadedService.status_id !== 7">
        <div class="status-cont" (click)="serviceDetal(1)">
          <ion-icon name="calendar" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">SERVICIO AGENDADO</ion-text><br>
        </ion-col>
      </ion-row>

      <!-- separating line -->
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id !== 7">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id !== 7">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>

      <!-- SERVICIO ENPROCESO  -->
      <!-- grey  -->
      <ion-row *ngIf="loadedService.status_id < 4 && loadedService.status_id !== 7">
        <div class="status-cont-grey">
          <ion-icon name="build" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text-grey">SERVICIO ENPROCESO</ion-text><br>
        </ion-col>
      </ion-row>
      <!-- active  -->
      <ion-row *ngIf="loadedService.status_id > 3 && loadedService.status_id !== 7">
        <div class="status-cont" (click)="serviceDetal(1)">
          <ion-icon name="build" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">SERVICIO ENPROCESO</ion-text><br>
        </ion-col>
      </ion-row>

      <!-- separating line -->
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id !== 7">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id !== 7">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>

      <!-- SERVICIO REALIZADO  -->
      <!-- grey  -->
      <ion-row *ngIf="loadedService.status_id < 5 && loadedService.status_id !== 7">
        <div class="status-cont-grey">
          <ion-icon name="build" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text-grey">SERVICIO REALIZADO</ion-text><br>
        </ion-col>
      </ion-row>
      <!-- active  -->
      <ion-row *ngIf="loadedService.status_id > 4 && loadedService.status_id !== 7">
        <div class="status-cont" (click)="serviceDetal(1)">
          <ion-icon name="build" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">SERVICIO REALIZADO</ion-text><br>
        </ion-col>
      </ion-row>

      <!-- separating line -->
      <!-- <ion-row class="ion-no-margin">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>
      <ion-row class="ion-no-margin">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row> -->

      <!-- Pago Finalizado  -->
      <!-- grey  -->
      <!-- <ion-row *ngIf="loadedService.status_id < 6 && loadedService.status_id !== 7">
        <div class="status-cont-grey">
          <ion-icon name="card" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text-grey">PAGO FINALIZADO</ion-text><br> -->
          <!-- <ion-text class="main-color status-subtext-grey">Pendiente calificar el servicio</ion-text> -->
        <!-- </ion-col>
      </ion-row> -->
      <!-- active  -->
      <!-- <ion-row *ngIf="loadedService.status_id > 5 && loadedService.status_id !== 7">
        <div class="status-cont" (click)="serviceDetal(1)">
          <ion-icon name="card" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">PAGO FINALIZADO</ion-text><br> -->
          <!-- <ion-text class="main-color status-subtext">Pendiente calificar el servicio</ion-text> -->
        <!-- </ion-col>
      </ion-row> -->

      <!-- ONLY FOR CANCELLED SERVICES -->

      <!-- separating line -->
      <!-- <ion-row class="ion-no-margin" *ngIf="loadedService.status_id === 7">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id === 7">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row> -->

      <!-- Solicitud rechazada  -->
      <ion-row *ngIf="loadedService.status_id === 7">
        <div class="status-cont-red">
          <ion-icon name="close-outline" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="status-text-red">SOLICITUD RECHAZADA</ion-text><br>
        </ion-col>
      </ion-row>

      <!-- separating line -->
      <!-- <ion-row class="ion-no-margin" *ngIf="loadedService.status_id === 7">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row> -->

      <!-- Por que solictud rechazada  -->
      <!-- <ion-row (click)="serviceDetal(3)" *ngIf="loadedService.status_id === 7">
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-subtext-red">¿Por qué mi solicitud fue rechazada?</ion-text>
        </ion-col>
      </ion-row> -->

    </ion-grid>
  </div>

</ion-content>
