.no-border{
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .profileImg{
    margin-left: 10px;
    height: 75px;
    width: 75px;
  }
  .titleSelect{
    font-size: 23px;
    font-weight: bold;
  }
  .tittle{
    font-size: 18px;
  }
  .border{
    border: 1px solid red;
  }
  .regText{
    font-size: 14px;
  }
  .imgSingle{
    height: 125px;
  }
  .locate-cont{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
  }
  .rating-text{
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
  }
  ion-item {
    --border-color: var(--ion-color-danger, red);
  }
  