<ion-header>
  <ion-toolbar color="danger">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/profesional-detail" text="" icon="arrow-back"></ion-back-button>
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title class="title-toolbar">SOLICITUD URGENTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- text -->
    <ion-row class="ion-margin-top">
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="regText">
          Esta solicitud  es de carácter urgente y será enviada a los 10 profesionales mejor catalogados para que puedan atender tu solicitud lo antes posible.
        </ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- title -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="title" color="danger"><b>Cuéntanos ¿Cuál es la solicitud del trabajo?</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- text-area -->
    <ion-row class="ion-margin-top">
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="border ion-text-center">
        <ion-item lines="none">
           <ion-textarea rows="3" cols="20" placeholder="Describe lo más posible y claro el trabajo, así podremos dar respuesta más rápido."></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- text -->
    <ion-row class="ion-margin-top">
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text color="danger" class="regText"><b>Agrega imágenes que ayudarán al profesional a responder mejor a tu solicitud.</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- images -->
    <ion-row class="ion-align-items-center">
      <ion-col size="4" offset="1">
        <img src="/assets/images/unavailable-image.png" class="imgSingle">
      </ion-col>
      <ion-col size="4">
        <img src="/assets/images/unavailable-image.png" class="imgSingle">
      </ion-col>
      <ion-col size="3">
        <div class="locate-cont">
          <ion-icon name="add" color="light" class="rating-text"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <!-- Fecha requerida -->
    <ion-row>
      <ion-col size="11">
        <ion-item>
          <ion-label>
            <ion-icon name="calendar" slot="start" color="danger"></ion-icon>
            <ion-text color="danger">&nbsp;&nbsp;&nbsp;Fecha requerida</ion-text>
          </ion-label>
          <ion-datetime placeholder="Definir fecha"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Rango de horas -->

    <!-- pickers -->
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>
            <ion-icon name="time" slot="start" color="danger"></ion-icon>
            <ion-text color="danger">Hora inicial</ion-text>
          </ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col size="5">
        <ion-item>
          <ion-label>
            <ion-icon name="time" slot="start" color="danger"></ion-icon>
            <ion-text color="danger">Hora final</ion-text>
          </ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- enviar solicitud BTN -->
    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" class="ion-text-uppercase" color="danger" (click)="confirmRequest()">
          CONFIRMAR SOLICITUD
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
