<ion-content>
  <ion-grid style="height: 100%;">
    
    <!-- SERVICIO REALIZADO  -->
    <ion-row class="modal-cont">
      <div class="status-cont">
        <ion-icon name="checkmark" color="light" class="status-text-icon"></ion-icon>
      </div>
      <ion-col size="10"  offset="1" class="ion-text-center ion-margin-top">
        <ion-text class="main-color status-text"><b>REGISTRO EXITOSO</b></ion-text><br>
      </ion-col>
      <ion-col size="10"  offset="1" class="ion-text-center">
        <ion-text><hr></ion-text>
      </ion-col>
      <ion-col size="10"  offset="1" class="ion-text-center">
        <ion-text class="main-color mini-text" (click)="dismiss()">ACEPTAR</ion-text><br>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>