.catText
{
    font-size: 10px;
}
.no-border
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.profileImg
{
    margin-left: 10px;
    height: 75px;
    width: 75px;
}
.ticket
{
    color: red;
    font-size: 12px;
}
.titleSelect
{
    font-size: 19px;
    font-weight: bold;
}
.mini-text
{
    font-size: 14px;
}
.iconFix
{
    margin-bottom: -2px;
}
.ratingText
{
    font-size: 18px;
}
.border-line
{
    border-right: 1px solid red;
}
.starIcon
{
    font-size: 22px;
}
.locate-cont
{
    border-radius: 50px;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #009ACE;
}
.rating-text
{
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}
.title
{
    font-size: 20px;
    border-bottom: 1px solid red;
}
.prof-cont
{
    box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.20);
}
.dateText
{
    font-size: 12px;
}
.textSelect
{
    font-size: 12px;
    line-height: .5;
}