<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesional/home/home-tabs/agendados" text="" icon="arrow-back"></ion-back-button>
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">DETALLES SOLICITUD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- profesional card item -->
  <div class="no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- profile img -->
        <ion-col size="4" offset="1">
          <ion-avatar class="profileImg">
            <ion-img src="{{ !loadedInfo.img_client_profile ? 'assets/images/avatar.png' : 'http://workintest.herokuapp.com'+loadedInfo.img_client_profile  }}"></ion-img>
          </ion-avatar>
        </ion-col>

        <!-- title -->
        <ion-col size="6">
          <ion-text>
            <small class="ticket">Ticket #{{ loadedInfo.ticket_number }}</small><br>
            <span class="titleSelect main-color ion-text-capitalize">{{ loadedInfo.categoryName }} para<br>
              <span class="ion-text-capitalize titleName">{{ loadedInfo.clientName+" "+loadedInfo.clientLastName }}</span>
            </span><br>
            <p class="main-color mini-text" style="margin-top: 0; margin-bottom: 0;">{{ d(loadedInfo.created_date) }}</p>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
    
    <!-- title -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon name="build" class="main-color iconFixTitle"></ion-icon>
        <ion-text class="main-color title"><b> Trabajo requerido</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="titleText">{{ loadedInfo.description }}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Slider -->
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="slideOptions">
          
          <!-- slide -->
          <ion-slide *ngFor="let image of loadedInfo.images">
            <img
              src="{{ 'http://workintest.herokuapp.com'+image.image }}"
              class="imgSlide"
            >
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>

    <!-- Fecha de visita -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon name="calendar-outline" class="main-color iconFixTitle"></ion-icon>
        <ion-text class="main-color subtitle"><b> Fecha de visita</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="subText"> {{ loadedInfo.date_required }}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Rango de horas -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon name="time" class="main-color iconFixTitle"></ion-icon>
        <ion-text class="main-color subtitle"><b> Rango de horas</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="subText"> {{ p(loadedInfo.hours) }} horas</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Costo -->
    <!-- <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon name="wallet-outline" class="main-color iconFixTitle"></ion-icon>
        <ion-text class="main-color subtitle"><b> Costo</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="subText"> ${{ loadedInfo.cost }}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row> -->

    <!-- Metodo de pago -->
    <!-- <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon name="cash-outline" class="main-color iconFixTitle"></ion-icon>
        <ion-text class="main-color subtitle"><b> Método de pago</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="subText"> Efectivo</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row> -->

    <!-- Contact Icon -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="main-color subtitle"><b>Contactar</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <!-- icons -->
        <div class="locate-cont bg-green-color" (click)="call(loadedInfo.clientPhone1)">
          <ion-icon name="call" color="light" class="rating-text"></ion-icon>
        </div>
        <!-- <div class="locate-cont bg-green-color">
          <ion-icon name="logo-whatsapp" color="light" class="rating-text"></ion-icon>
        </div> -->
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    

    <!-- iniciar trabajo BTN -->
    <ion-row class="ion-margin-top ion-margin-bottom" *ngIf="loadedInfo.status_id <= 3">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" class="ion-text-uppercase" color="success" (click)="startSolicitud()">
          <ion-icon slot="start" name="build"></ion-icon>
          INICIO DEL TRABAJO
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- finalizar trabajo BTN -->
    <ion-row class="ion-margin-top ion-margin-bottom" *ngIf="loadedInfo.status_id === 4">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" class="ion-text-uppercase" color="danger" (click)="finalizarSolicitud()">
          <ion-icon slot="start" name="build"></ion-icon>
          FINALIZAR TRABAJO
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
