<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/profesional-list" text="" icon="arrow-back"></ion-back-button>
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">TU PROFESIONAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Slider -->
  <ion-grid>
    <ion-row class="ion-align-items-center ion-margin-top ion-margin-bottom">
      <ion-col size="12">
        <ion-slides>
          <!-- slide -->
          <ion-slide *ngFor="let image of loadedImgList">
            <img
              src="{{ 'http://workintest.herokuapp.com'+image.image }}"
              class="imgSlide"
            >
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="height: 30px;"></div>

  <!-- profesional card item -->
  <div class="no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-margin-top">
        <!-- profile img -->
        <ion-col size="4">
          <ion-avatar class="profileImg">
            <ion-img src="{{ !selectedProfPhoto ? 'assets/images/avatar.png' : 'http://workintest.herokuapp.com'+selectedProfPhoto }}"></ion-img>
          </ion-avatar>
        </ion-col>

        <!-- title -->
        <ion-col size="8">
          <ion-text>
            <span class="titleSelect main-color ion-text-capitalize">
              {{ selectedProCat.supplierName }} {{ selectedProCat.supplierLastName }}
            </span><br>
            <!-- se necesita extra codigo para mostar todas la profesiones  -->
            <ion-badge color="primary" class="badge-text">
              {{ selectedProCat.categoryName }}
            </ion-badge><br>
            <!-- <ion-badge color="medium" class="badge-text">Gasfiter</ion-badge>
            <ion-badge color="medium" class="badge-text">Eléctrico</ion-badge><br> -->
            <p class="textSelect main-color ion-text-capitalize" style="margin-top: 0; margin-bottom: 0;">Vehículo: {{ selectedProCat.transportName}}</p>
            <p class="textSelect main-color" style="margin-top: 0; margin-bottom: 0;">Horario: {{ editedHours }}</p>
            <p class="textSelect main-color" style="margin-top: 0; margin-bottom: 0;">Dias: {{ editedDays }}</p>
            <p class="textSelect main-color ion-text-capitalize" style="margin-top: 0; margin-bottom: 0;">{{ selectedProCat.communeName }}</p>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>

    <!-- desc pro -->
    <ion-row class="border-bot">
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-text>
          <p class="regText ion-text-capitalize ion-text-center">
            {{ selectedProCat.descProf }}
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- mdesc of -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-text>
          <p class="regText ion-text-capitalize ion-text-center">
            {{ selectedProCat.description }}
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- title -->
    <ion-row>
      <ion-col size="1" offset="1"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-text class="main-color title"><b>Evaluaciones generales</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- trabajos realizados -->
    <ion-row class="border-bot">
      <!-- Text -->
      <ion-col size="9">
        <ion-text>
          <p class="itemText">Cantidad de trabajos realizados</p>
        </ion-text>
      </ion-col>
      <!-- icon -->
      <ion-col size="3">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            50
            <ion-icon name="ribbon" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- valoracion -->
    <!-- <ion-row class="border-bot"> -->
      <!-- Text -->
      <!-- <ion-col size="9">
        <ion-text>
          <p class="itemText">Valoraciones en relación al trabajo</p>
        </ion-text>
      </ion-col> -->
      <!-- icon -->
      <!-- <ion-col size="3">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            4.83
            <ion-icon name="star" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row> -->

    <!-- capacidad tecnica -->
    <!-- <ion-row class="border-bot"> -->
      <!-- Text -->
      <!-- <ion-col size="8">
        <ion-text>
          <p class="itemText">Capacidad Técnica</p>
        </ion-text>
      </ion-col> -->
      <!-- icon -->
      <!-- <ion-col size="4">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            de 50
            <ion-icon name="ribbon" class="iconEnd"></ion-icon>
            / 50
            <ion-icon name="hammer" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row> -->

    <!-- Puntualidad -->
    <!-- <ion-row class="border-bot"> -->
      <!-- Text -->
      <!-- <ion-col size="8">
        <ion-text>
          <p class="itemText">Puntualidad</p>
        </ion-text>
      </ion-col> -->
      <!-- icon -->
      <!-- <ion-col size="4">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            de 50
            <ion-icon name="ribbon" class="iconEnd"></ion-icon>
            / 50
            <ion-icon name="time" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row> -->

    <!-- Cordialidad -->
    <!-- <ion-row class="border-bot"> -->
      <!-- Text -->
      <!-- <ion-col size="8">
        <ion-text>
          <p class="itemText">Cordialidad</p>
        </ion-text>
      </ion-col> -->
      <!-- icon -->
      <!-- <ion-col size="4">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            de 50
            <ion-icon name="ribbon" class="iconEnd"></ion-icon>
            / 50
            <ion-icon name="happy" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row> -->

    <!-- Servicio y Satisfacción -->
    <!-- <ion-row class="border-bot"> -->
      <!-- Text -->
      <!-- <ion-col size="8">
        <ion-text>
          <p class="itemText">Servicio y Satisfacción</p>
        </ion-text>
      </ion-col> -->
      <!-- icon -->
      <!-- <ion-col size="4">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            de 50
            <ion-icon name="ribbon" class="iconEnd"></ion-icon>
            / 50
            <ion-icon name="thumbs-up" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row> -->

    <!-- footer text -->
    <ion-row class="subtitle ion-margin-top">
      <ion-col size="8" offset="2" class="ion-text-center">
        <ion-text class="lastText main-color"><b>
          ¿Quieres enviarle una solicitud de servicio a 
          <span class="ion-text-capitalize"> {{ selectedProCat.supplierName }} {{ selectedProCat.supplierLastName }}?</span>
        </b></ion-text>
      </ion-col>
    </ion-row>

    <!-- enviar solicitud BTN -->
    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" class="ion-text-uppercase" (click)="sendRequest()">
          ENVIAR SOLICITUD
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
