.imgSlide{
  height: auto;
  width: 100%;
  margin-top: -35px;
}
.no-border{
  margin-top: -75px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.profileImg{
  margin-left: 10px;
  height: 100px;
  width: 100px;
}
.titleSelect{
  font-size: 23px;
  font-weight: bold;
}
.textSelect{
  font-size: 12px;
}
.badge-text{
  font-size: 9px;
  margin-right: 5px;
}
.locate-cont{
  margin-top: 20px;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #009ACE;
}
.rating-text{
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
.ratingText{
  margin-top: 18px;
  font-size: 15px;
}
.regText{
  font-size: 12px;
}
.title{
  font-size: 18px;
}
.itemText{
  margin-left: 10px;
}
.border-bot{
  border-bottom: 1px solid #009ACE;
}
.iconEnd{
  margin-bottom: -3px;
  font-size: 15px;
}

.lastText{
  font-size: 16px;
}
