.title
{
    font-size: 20px;
}
.titleText
{
    font-size: 16px;
}
.minusMargin
{
    margin-top: -25px;
}
.imgSlide
{
    height:125px;
}
.subtitle
{
    font-size: 18px;
}
.iconFix
{
    margin-bottom: -3px;
}
.subText
{
    font-size: 14px;
}