.prof-cont
{
    box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.20);
}
.titleSelect
{
    font-size: 16px;
    font-weight: bold;
}
.icon-size
{
    margin-top: -3px;
    font-size: 20px;
}
.textSelect
{
    font-size: 12px;
    line-height: .5;
}
.ticket
{
    color: red;
    font-size: 11px;
}
.ratingText
{
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.badge-text
{
    font-size: 9px;
}
.locate-cont
{
    // margin-top: 20px;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #009ACE;
}
.rating-text
{
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}
.footer-text{
    font-size: 18px;
  }