.profileImg
{
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
.imgCont
{
    margin-top: 15px;
}
.profileIcon
{
    font-size: 16px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.rate-cont
{
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-color: #53657e;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22px;
}
.catText
{
    font-size: 10px;
}
.border
{
    border: 1px solid #009ACE;
}
.regText
{
    font-size: 18px;
}
.imgSingle
{
    height: 150px;
}
.locate-cont
{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #009ACE;
}
.rating-text
{
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
}