.title{
  font-size: 22px;
  font-weight: bold;
}
hr {
  border-top: 1px solid #E54360;
}
.category-item{
  height: 190px;
  width: 108%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: -15px;
  margin-top: 7%;
  box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.25);
}
.cat-bar{
  background-image: url('/assets/images/cat_bar.png');
  height: 70px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 40px;
}
.cat-title{
  margin-top: 7px;
  margin-bottom: 0;
  font-size: 20px;
}
.cat-text{
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 13px;
}
.rate-cont{
  border-radius: 50px;
  height: 42px;
  width: 42px;
  background-color: white;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: 30px;
  margin-top: -32px;
}
.rating-text{
  font-size: 13px;
}
.ml-1{
  margin-left: 3px;
}
.footer-text{
  font-size: 18px;
}
