<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="user"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-color title-toolbar">CATEGORÍAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- category item -->
    <ion-row 
      *ngFor="let cat of categories"
      class="category-item ion-align-items-end"
      style="background-image: url('http://workintest.herokuapp.com/{{ cat.image }}');" 
      (click)="map(cat.id)">
      <ion-col class="cat-bar">
        <ion-text color="light">
          <h1 class="cat-title">{{ cat.name }}</h1>
          <p class="cat-text">{{ cat.description }}</p>
          <!-- rating circle -->
          <!-- <div class="rate-cont">
            <ion-label color="primary" class="rating-text ml-1">4.8</ion-label>
            <ion-icon name="star" color="primary" class="rating-text"></ion-icon>
          </div> -->
          <!-- style="background-image: url('/assets/images/carp_cat.png');" -->
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- footer text -->
    <!-- <div style="height: 20px;"></div>
    <ion-row class="subtitle ion-margin-top">
      <ion-col size="8" offset="2" class="ion-text-center">
        <ion-text class="footer-text main-color" ><b>¿No encuentras la categoría que buscabas?</b></ion-text>
      </ion-col>
    </ion-row> -->

    <!-- enviar mensaje BTN -->
    <!-- <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="6" expand="block" class="ion-text-uppercase" (click)="login()">
          ENVÍANOS UN MENSAJE
          <ion-icon slot="end" name="send"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row> -->

  </ion-grid>
</ion-content>
