.status-cont
{
    border-radius: 50px;
    height: 45px;
    width: 45px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #009ACE;
}
.status-text-icon
{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}
.status-text
{
    font-size: 22px;
}
.mini-text
{
    font-size: 13px;
}
hr
{
    border-top: 1px solid #009ACE;
}
.no-border
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.profileImg
{
    margin-left: 10px;
    height: 75px;
    width: 75px;
}
.ticket
{
    color: red;
    font-size: 12px;
}
.titleSelect
{
    font-size: 14px;
    font-weight: bold;
}
.titleName
{
    font-size: 18px;
}
.mini-text
{
    font-size: 14px;
}
.subtitle
{
    font-size: 20px;
}
.border
{
    border: 1px solid red;
}