.no-border
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.profileImg
{
    margin-left: 10px;
    height: 75px;
    width: 75px;
}
.titleSelect
{
    font-size: 19px;
    font-weight: bold;
}
.title{
    font-size: 20px;
  }
.titleText{
    font-size: 16px;
}
.imgSlide{
    height:125px;
}
.subtitle{
    font-size: 18px;
}
.subText{
    font-size: 14px;
}
.minusMargin{
    margin-top: -25px;
}
.iconFix{
    margin-bottom: -3px;
}
.mini-text
{
    font-size: 14px;
}
.ticket
{
    color: red;
    font-size: 12px;
}
.locate-cont
{
    border-radius: 50px;
    height: 45px;
    width: 45px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: 5px;
    background-color: #009ACE;
}
.bg-green-color
{
    background-color: #2dd36f;
}
.rating-text
{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}
.border
{
    border: 1px solid #009ACE;
}