#map{
    height: 100%;
  }
  .title{
    font-size: 18px;
    font-weight: bold;
  }
  hr {
    border-top: 1px solid #E54360;
  }
  .top-center{
    position: absolute;
    width: 100%;
    top: 60px;
  }
  .floating-input{
    background-color: white;
    border: 1px solid #009ACE;
  }
  .locate-cont{
    border-radius: 50px;
    height: 42px;
    width: 42px;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 11%;
    top: 30%;
  }
  .scan-cont{
    border-radius: 50px;
    height: 42px;
    width: 42px;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 11%;
    top: 42%;
  }
  .rating-text{
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
  