<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/home" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-toolbar">EDITAR USUARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- profile Img -->
    <ion-row class="imgCont">
      <ion-col>
        <ion-avatar class="ion-margin-start profileImg">
          <ion-img src="{{ !grabbedUser.img_profile ? 'assets/images/avatar.png' : 'http://workintest.herokuapp.com'+grabbedUser.img_profile }}"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <!-- edit icon -->
    <ion-row>
      <ion-col>
        <div class="rate-cont" *ngIf="grabbedUser.id !== null" (click)="onLoadImg()">
          <ion-icon name="pencil" class="profileIcon"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <!-- hidden file input -->
    <div style="display: none;">
      <input type="file" #hiddenImgInput *ngIf="useInputPicker" (change)="onLoadImgFromInput($event)">
    </div>

    <!-- Register Inputs -->
    <form [formGroup]="form" (ngSubmit)="onUpdateUser()">
      <!-- nombre -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="person" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Nombre</ion-text>
            </ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <!-- error  -->
          <ion-label *ngIf="form.get('name').hasError('required')" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> El nombre es requerido</small>
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>

      <!-- email -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="mail" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Email</ion-text>
            </ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <!-- error requerido  -->
          <ion-label *ngIf="form.get('email').hasError('required')" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> El email es requerido</small>
            </ion-text>
          </ion-label>
          <!-- error email  -->
          <ion-label *ngIf="form.get('email').hasError('email')" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> El email no tiene el formato correcto</small>
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>

      <!-- Número de contacto 1 -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="call" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Número de contacto 1</ion-text>
            </ion-label>
            <ion-input type="string" formControlName="phone1"></ion-input>
          </ion-item>
          <!-- error requerido  -->
          <ion-label *ngIf="form.get('phone1').hasError('required')" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> El Numero de contacto es requerido</small>
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>

      <!-- Número de contacto 2 -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="call" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Número de contacto 2</ion-text>
            </ion-label>
            <ion-input type="string" formControlName="phone2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <!-- title -->
      <div style="height: 30px;"></div>
      <ion-row class="ion-margin-top">
        <ion-col size="1" offset="1"></ion-col>
        <ion-col size="8" class="ion-text-center">
          <ion-text class="main-color ion-text-uppercase title"><b>CAMBIAR CONTRASEÑA</b></ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- Contraseña actual -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="lock-closed" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Contraseña actual</ion-text>
            </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <!-- http error  -->
          <ion-label *ngIf="httpError" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> {{ httpError }}</small>
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>

      <!-- Nueva contraseña -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="lock-closed" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Nueva contraseña</ion-text>
            </ion-label>
            <ion-input type="password" formControlName="newPassword"></ion-input>
          </ion-item>
          <!-- password error  -->
          <ion-label *ngIf="passError" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> {{ passError }}</small>
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>

      <!-- Repetir nueva contraseña -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="lock-closed" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Repetir nueva contraseña</ion-text>
            </ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
          <!-- password error  -->
          <ion-label *ngIf="passError" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> {{ passError }}</small>
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>

      <!-- BTN -->
      <ion-row class="ion-margin-top ion-margin-bottom">
        <ion-col offset="1">
          <ion-button size="5" expand="block" class="ion-text-uppercase" type="submit" [disabled]="!form.valid">
            GUARDAR CAMBIOS
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </form>


  </ion-grid>
</ion-content>
