.text-10
{
  font-size: 10px;
}
.fStart
{
  margin-left: 10px;
}
.cusSelect
{
  border:0px;
  outline:0px;
  font-size: 12px;
  background-color: none;
}
.filt-icon
{
  font-size: 11px;
}
.profileImg
{
  margin-left: 10px;
  height: 75px;
  width: 75px;
}
.prof-cont
{
  box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.20);
}
.no-border{
  padding-top: 2px;
  padding-bottom: 2px;
}
.eSelect{
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.titleSelect{
  font-size: 16px;
  font-weight: bold;
}
.textSelect{
  font-size: 10px;
  line-height: .5;
}
.badge-text{
  font-size: 9px;
}
.ratingText{
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.locate-cont{
  margin-top: 20px;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #009ACE;
}
.rating-text{
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
