.status-cont
{
    border-radius: 50px;
    height: 45px;
    width: 45px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: red;
}
.status-text-icon
{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}
.status-text
{
    color: red;
    font-size: 22px;
}
.mini-text
{
    font-size: 13px;
}
.mini-text-red
{
    color: red;
    font-size: 13px;
}
hr
{
    border-top: 1px solid red;
}