<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase main-color title-toolbar">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 5%"></div>
  <ion-grid>

    <!-- title -->
    <ion-row>
      <ion-col size="1" offset="1"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-text class="main-color ion-text-uppercase title">INGRESA El CORREO ASOCIADO A TU CUENTA</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1" offset="1"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-text><hr></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Register Inputs -->
    <form #f="ngForm" (ngSubmit)="onRecover(f)">

      <!-- email -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="mail" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Email
              </ion-text>
            </ion-label>
            <ion-input
              ngModel name="email"
              required
              email
              #emailCtrl="ngModel"
              type="email">
            </ion-input>
          </ion-item>
          <!-- error  -->
          <ion-label *ngIf="!emailCtrl.valid && emailCtrl.touched" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> El email es requerido</small>
            </ion-text>
          </ion-label>
          <!-- http email error  -->
          <ion-label *ngIf="errors.email[0] !== undefined" class="errorMess">
            <ion-icon name="alert-circle-outline" class="iconFixG" color="danger"></ion-icon>
            <ion-text color="danger">
              <small> {{ errors.email[0] }}</small>
            </ion-text><br>
          </ion-label>
         

        </ion-col>
      </ion-row>

      <!-- Registrar BTN -->
      <ion-row class="ion-margin-top">
        <ion-col class="ion-margin-top">
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!f.valid" 
            class="ion-text-uppercase">
            Recuperar cuenta
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>
