<ion-app>
  
  <!-- Menu User -->
  <ion-menu side="start" menuId="user" contentId="main">
    <ion-content>
      <ion-grid>
        <!-- profile Img -->
        <ion-row class="imgCont">
          <ion-col>
            <ion-avatar class="ion-margin-start profileImg">
              <ion-img src="{{ !user ? 'assets/images/avatar.png' : 'http://workintest.herokuapp.com'+user.img_profile }}"></ion-img>
            </ion-avatar>
          </ion-col>
        </ion-row>
        <!-- edit icon -->
        <ion-row>
          <ion-col>
            <div class="rate-cont" (click)="profile()">
              <ion-icon name="pencil" class="profileIcon"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" offset="2" class="ion-text-center">
            <ion-text class="name-text" *ngIf="!user"><b>Usuario Invitado</b></ion-text>
            <ion-text class="name-text ion-text-capitalize" *ngIf="user"><b>{{ user.name + ' ' + user.last_name }}</b></ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list class="ion-margin-top">
        <ion-menu-toggle menu="user">

          <!-- home -->
          <ion-item lines="none" routerLink="/user/home">
            <ion-icon slot="start" name="home" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Inicio</ion-label>
          </ion-item>

          <!-- profesionales contactados -->
          <ion-item lines="none" routerLink="/user/prof-contactados-list">
            <ion-icon slot="start" name="people" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Contactados</ion-label>
          </ion-item>

          <!-- Estado de solicitud -->
          <ion-item lines="none" routerLink="/user/solicitudes">
            <ion-icon slot="start" name="clipboard" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Solicitudes</ion-label>
          </ion-item>

          <!-- Método de pago -->
          <!-- <ion-item lines="none">
            <ion-icon slot="start" name="card" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Método de pago</ion-label>
          </ion-item> -->

          <!-- Notificaciones -->
          <!-- <ion-item lines="none" routerLink="/user/notificaciones">
            <ion-icon slot="start" name="notifications" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Notificaciones</ion-label>
          </ion-item> -->

          <!-- Soporte -->
          <ion-item lines="none">
            <ion-icon slot="start" name="headset" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Soporte</ion-label>
          </ion-item>

          <!-- Términos y condiciones -->
          <ion-item lines="none">
            <ion-icon slot="start" name="reader" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Términos y condiciones</ion-label>
          </ion-item>

        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer class="ion-no-border">
      <ion-toolbar>

        <!-- Términos y condiciones -->
        <ion-item lines="none" (click)="logout()" menuClose>
          <ion-icon slot="start" name="exit-outline" class="footer-text"></ion-icon>
          <ion-label class="footer-text">Cerrar sesión</ion-label>
        </ion-item>

      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <!-- Menu Profesional  -->
  <ion-menu side="start" menuId="profesional" contentId="main">
    <ion-content>
      <!-- Top Section  -->
      <ion-grid>
        <!-- profile Img -->
        <ion-row class="imgCont">
          <ion-col>
            <ion-avatar class="ion-margin-start profileImg">
              <ion-img src="{{ !user ? 'assets/images/avatar.png' : 'http://workintest.herokuapp.com'+user.img_profile }}"></ion-img>
            </ion-avatar>
          </ion-col>
        </ion-row>
        <!-- edit icon -->
        <ion-row>
          <ion-col>
            <div class="rate-cont" (click)="profilePro()">
              <ion-icon name="pencil" class="profileIcon"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" offset="2" class="ion-text-center">
            <ion-text class="name-text" *ngIf="!user"><b>Usuario Invitado</b></ion-text>
            <ion-text class="name-text ion-text-capitalize" *ngIf="user"><b>{{ user.name + ' ' + user.last_name }}</b></ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list class="ion-margin-top">
        <ion-menu-toggle menu="profesional">

          <!-- mis trabajos -->
          <ion-item lines="none" routerLink="/profesional/home">
            <ion-icon slot="start" name="briefcase" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Mis trabajos</ion-label>
          </ion-item>

          <!-- Notificaciones -->
          <!-- <ion-item lines="none" routerLink="/profesional/notificaciones">
            <ion-icon slot="start" name="notifications" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">
              Notificaciones
              <div class="locate-cont">
                <ion-text color="light" class="rating-text">
                  +9
                </ion-text>
              </div>
            </ion-label>
          </ion-item> -->

          <!-- calificacion -->
          <!-- <ion-item lines="none" routerLink="/profesional/rating">
            <ion-icon slot="start" name="star" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Calificación</ion-label>
          </ion-item> -->

          <!-- perfil -->
          <ion-item lines="none" routerLink="/profesional/cat-perfiles">
            <ion-icon slot="start" name="people-circle" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Mis Perfiles</ion-label>
          </ion-item>

          <!-- Soporte -->
          <ion-item lines="none">
            <ion-icon slot="start" name="headset" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Soporte</ion-label>
          </ion-item>

          <!-- Mi billetera -->
          <!-- <ion-item lines="none" routerLink="/profesional/wallet">
            <ion-icon slot="start" name="wallet" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Mi billetera</ion-label>
          </ion-item> -->

          <!-- Términos y condiciones -->
          <ion-item lines="none">
            <ion-icon slot="start" name="reader" color="primary"></ion-icon>
            <ion-label color="primary" class="label-text">Términos y condiciones</ion-label>
          </ion-item>

        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer class="ion-no-border">
      <ion-toolbar>

        <!-- Términos y condiciones -->
        <ion-item lines="none" (click)="logout()" menuClose>
          <ion-icon slot="start" name="exit-outline" class="footer-text"></ion-icon>
          <ion-label class="footer-text">Cerrar sesión</ion-label>
        </ion-item>

      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
