<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">FINALIZADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- title -->
  <ion-grid fixed>
    <ion-row class="ion-margin-top">
      <ion-col size="11" class="ion-text-left">
        <ion-text class="main-color title" *ngIf="loadedServices.length > 0">
          <b>Buenos días <span class="ion-text-capitalize">{{grabbedUser.name}} {{grabbedUser.last_name}}</span>, tienes los siguientes trabajos finalizados.</b>
        </ion-text>
        <ion-text class="main-color title" *ngIf="loadedServices.length === 0">
          <b>Buenos días <span class="ion-text-capitalize">{{grabbedUser.name}} {{grabbedUser.last_name}}</span>, no tienes trabajos finalizados.</b>
        </ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- pendiente pago -->
  <div class="prof-cont no-border" *ngFor="let service of loadedServices" (click)="finalizadosDetail(service.id)">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="7" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color ion-text-capitalize">{{ service.clientName+" "+service.clientLastName }}</span>
            <br>
            <ion-text class="mainText">
              {{ service.adress }}
            </ion-text>
            <br>
            <ion-text class="miniText ion-text-capitalize" color="primary">{{ service.description }}</ion-text>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="5">
          <ion-badge color="primary" class="badgeText">{{ service.categoryName }}</ion-badge>
          <ion-grid class="ion-no-padding ion-no-margin">
            <ion-row class="ion-align-items-center">
              <!-- pendiente  -->
              <!-- <ion-col size="3" *ngIf="service.status_id === 5">
                <div class="locate-cont">
                  <ion-icon name="card" color="light" class="rating-text"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="9" *ngIf="service.status_id === 5">
                <ion-text color="danger" class="endText">
                  PAGO PENDIENTE
                </ion-text>
              </ion-col> -->
               <!-- pagados  -->
               <!-- <ion-col size="3" *ngIf="service.status_id === 6">
                <div class="locate-cont-green">
                  <ion-icon name="card" color="light" class="rating-text"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="9" *ngIf="service.status_id === 6">
                <ion-text color="success" class="endText">
                  PAGO REALIZADO
                </ion-text>
              </ion-col> -->
            </ion-row>
          </ion-grid>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- pagados -->
  <div class="prof-cont no-border" *ngFor="let service of paidServices" (click)="finalizadosDetail(service.id)">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="7" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color ion-text-capitalize">{{ service.clientName+" "+service.clientLastName }}</span>
            <br>
            <ion-text class="mainText">
              {{ service.adress }}
            </ion-text>
            <br>
            <ion-text class="miniText ion-text-capitalize" color="primary">{{ service.description }}</ion-text>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="5">
          <ion-badge color="primary" class="badgeText">{{ service.categoryName }}</ion-badge>
          <ion-grid class="ion-no-padding ion-no-margin">
            <ion-row class="ion-align-items-center">
              <!-- pendiente  -->
              <!-- <ion-col size="3" *ngIf="service.status_id === 5">
                <div class="locate-cont">
                  <ion-icon name="card" color="light" class="rating-text"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="9" *ngIf="service.status_id === 5">
                <ion-text color="danger" class="endText">
                  PAGO PENDIENTE
                </ion-text>
              </ion-col> -->
               <!-- pagados  -->
               <!-- <ion-col size="3" *ngIf="service.status_id === 6">
                <div class="locate-cont-green">
                  <ion-icon name="card" color="light" class="rating-text"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="9" *ngIf="service.status_id === 6">
                <ion-text color="success" class="endText">
                  PAGO REALIZADO
                </ion-text>
              </ion-col> -->
            </ion-row>
          </ion-grid>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>
