body{
  font-family: Poppins;
  font-size: 12px;
}
hr {
  border-bottom: 1px solid #E54360;
}
.subtitle{
  margin-top: 40px;
}
.logo-facebook {
  background-color: #1877f2;
  width: 60px;
  height: 60px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.logo-apple {
  background-color: #000000;
  width: 60px;
  height: 60px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.logo-google {
  background-color: #F93F2D;
  width: 60px;
  height: 60px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.outline-btn{
  font-size: 10;
  --color:#009ACE;
  --background: none;
  border: 2px solid #009ACE;
  border-radius: 10px;
}
