<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">SOLICITUDES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- title -->
  <ion-grid fixed>
    <ion-row class="ion-margin-top">
      <ion-col size="11" class="ion-text-left">
        <ion-text class="main-color title" *ngIf="loadedServices.length > 0">
          <b>Buenos días <span class="ion-text-capitalize">{{grabbedUser.name}} {{grabbedUser.last_name}}</span>, tienes las siguientes solicitudes por aceptar.</b>
        </ion-text>
        <ion-text class="main-color title" *ngIf="loadedServices.length === 0">
          <b>Buenos días <span class="ion-text-capitalize">{{grabbedUser.name}} {{grabbedUser.last_name}}</span>, no tienes solicitudes pendientes.</b>
        </ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- solicitud card item -->
  <div class="prof-cont no-border" *ngFor="let service of loadedServices">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="7" class="ion-justify-content-center">
          <ion-text>
            <ion-badge color="primary" class="titleSelect ion-text-capitalize">{{ service.categoryName }}</ion-badge>
            <br>
            <ion-text class="mainText">
              {{ service.adress }}
            </ion-text>
            <br>
            <ion-text class="miniText ion-text-capitalize" color="primary">{{ service.description }}</ion-text>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="5">
          <ion-button expand="block" shape="round" color="success" class="miniBtnTxt" (click)="aceptarSolicitud(service.id)">
            <ion-icon slot="start" name="checkmark" class="iconSize"></ion-icon>
            ACEPTAR
          </ion-button>
          <ion-button expand="block" fill="outline" color="danger" shape="round" class="miniBtnTxt" (click)="rechazarSolicitud(service.id)">
            <ion-icon slot="start" name="close" class="iconSize"></ion-icon>
            RECHAZAR
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- solicitud rechazada card item -->
  <!-- <div class="prof-cont no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center"> -->

        <!-- title -->
        <!-- <ion-col size="7" class="ion-justify-content-center">
          <ion-text>
            <ion-badge color="danger" class="titleSelect">Carpintería</ion-badge>&nbsp;
            <ion-icon color="danger" name="alert-circle" class="iconS"></ion-icon>
            <br>
            <ion-text class="mainText">
              Pasaje Estral Poniente<br>
              666 Maipú, Chile
            </ion-text>
            <br>
            <ion-text class="miniText" color="danger">
              Cambio de chapas
              <ion-icon name="calendar" color="danger" class="iconFix"></ion-icon>
              16 dic 2020
            </ion-text>
          </ion-text>
        </ion-col> -->

        <!-- rating -->
        <!-- <ion-col size="5">
          <ion-button expand="block" shape="round" color="success" class="miniBtnTxt" (click)="aceptarSolicitud()">
            <ion-icon slot="start" name="checkmark" class="iconSize"></ion-icon>
            ACEPTAR
          </ion-button>
          <ion-button expand="block" fill="outline" color="danger" shape="round" class="miniBtnTxt" (click)="rechazarSolicitud()">
            <ion-icon slot="start" name="close" class="iconSize"></ion-icon>
            RECHAZAR
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div> -->

</ion-content>
