.profileImg{
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  .imgCont{
    margin-top: 35px;
  }
  .profileIcon{
    font-size: 16px;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .rate-cont{
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-color: #53657e;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22px;
  }
  