<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">AGENDADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- title -->
  <ion-grid fixed>
    <ion-row class="ion-margin-top">
      <ion-col size="11" class="ion-text-left">
        <ion-text class="main-color title" *ngIf="loadedServices.length > 0">
          <b>Buenos días <span class="ion-text-capitalize">{{grabbedUser.name}} {{grabbedUser.last_name}}</span>, tienes los siguientes trabajos en tu agenda.</b>
        </ion-text>
        <ion-text class="main-color title" *ngIf="loadedServices.length === 0">
          <b>Buenos días <span class="ion-text-capitalize">{{grabbedUser.name}} {{grabbedUser.last_name}}</span>, no tienes trabajos en tu agenda.</b>
        </ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- servicios agendados -->
  <div class="prof-cont no-border" *ngFor="let service of loadedServices" (click)="solicitudDetail(service.id)">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color ion-text-capitalize">{{service.clientName+" "+ service.clientLastName}} </span>&nbsp;&nbsp;
            <ion-badge color="primary" class="badge-text">{{ service.categoryName }}</ion-badge>
            <br>
            <small>
              <ion-icon name="calendar" color="primary" class="iconFix"></ion-icon>
              {{service.date_required}}
              <ion-icon name="time" color="primary" class="iconFix"></ion-icon>
              {{ p(service.hours) }}h
            </small>
          </ion-text>
        </ion-col>

        <!-- ticket numer -->
        <ion-col size="4" >

          <!-- enviada -->
          <ion-text>
            <!-- icons -->
            <small class="ticket ion-text-center">Ticket #{{ service.ticket_number }}</small>
            <small class="ratingText main-color ion-text-center" *ngIf="service.status_id === 3">
              SERVICIO AGENDADO
            </small>
            <small class="ratingText main-color ion-text-center" *ngIf="service.status_id === 4">
              SERVICIO EN PROCESO
            </small>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- servicios Iniciados -->
  <div class="prof-cont no-border" *ngFor="let service of loadedStartedServices" (click)="solicitudDetail(service.id)">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color ion-text-capitalize">{{service.clientName+" "+ service.clientLastName}} </span>&nbsp;&nbsp;
            <ion-badge color="primary" class="badge-text">{{ service.categoryName }}</ion-badge>
            <br>
            <small>
              <ion-icon name="calendar" color="primary" class="iconFix"></ion-icon>
              {{service.date_required}}
              <ion-icon name="time" color="primary" class="iconFix"></ion-icon>
              {{ p(service.hours) }}h
            </small>
          </ion-text>
        </ion-col>

        <!-- ticket numer -->
        <ion-col size="4" >

          <!-- enviada -->
          <ion-text>
            <!-- icons -->
            <small class="ticket ion-text-center">Ticket #{{ service.ticket_number }}</small>
            <small class="ratingText main-color ion-text-center" *ngIf="service.status_id === 3">
              SERVICIO AGENDADO
            </small>
            <small class="ratingText main-color ion-text-center" *ngIf="service.status_id === 4">
              SERVICIO EN PROCESO
            </small>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- title -->
  <ion-grid  *ngIf="loadedVisits.length > 0">
    <ion-row>
      <ion-col size="11" class="ion-text-left">
        <ion-text color="danger" class="title"><b>Tienes las siguientes visitas de evaluación agendadas.</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- visitas agendadas -->
  <div class="prof-cont no-border" *ngFor="let service of loadedVisits" (click)="solicitudDetail(service.id)">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color ion-text-capitalize">{{service.clientName+" "+ service.clientLastName}} </span>&nbsp;&nbsp;
            <ion-badge color="primary" class="badge-text">{{ service.categoryName }}</ion-badge>
            <br>
            <small>
              <ion-icon name="calendar" color="primary" class="iconFix"></ion-icon>
              {{service.date_required}}
              <ion-icon name="time" color="primary" class="iconFix"></ion-icon>
              {{ p(service.hours) }}h
            </small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4">
          <ion-text>
            <p class="ticketText ion-text-center ion-no-margin">Ticket #{{service.ticket_number}}</p>
            <!-- <ion-button expand="block" fill="outline" shape="round" class="miniBtnTxt" (click)="map()">
              <ion-icon slot="start" name="map"></ion-icon>
              VER MAPA
            </ion-button> -->

          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>
