.prof-cont
{
    box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.20);
    margin-bottom: 10px;
}
.titleSelect
{
    font-size: 16px;
    font-weight: bold;
}
.badge-text
{
    font-size: 10px;
    margin-bottom: -2px;
}
.ticket{
    color: red;
    font-size: 11px;
}
.title
{
    font-size: 17px;
}
.superMarginTop
{
    margin-top: 60px;
}
.tapText
{
    font-size: 10px;
}
.iconFix
{
    margin-bottom: -2px;
}
.miniBtnTxt
{
    font-size: 9px;
}
.locate-cont{
    margin-top: 5px;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #009ACE;
  }
  .rating-text{
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
  }
  .ratingText{
    font-size: 12px;
    margin: 0;
    padding: 0;
  }