<ion-content>
  <ion-grid fixed>

    <!-- ticket & date  -->
    <ion-row>
      <ion-col size="12">
        <ion-text color="danger" class="ticketText">
          Ticket #{{ loadedService.ticket_number }}
        </ion-text>
        <br>
        <ion-text color="primary" class="dateText">
          {{ wDate }}
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- Trabajo requerido -->
    <ion-row class="ion-margin-top">
      <ion-col size="10" offset="1" class="ion-text-center">
        <div class="icon-cont">
          <ion-icon name="build" color="light" class="icon-opts" *ngIf="loadedService.status_id !== 2"></ion-icon>
          <ion-icon name="calendar" color="light" class="icon-opts" *ngIf="loadedService.status_id === 2"></ion-icon>
        </div>
        <ion-text class="main-color title" *ngIf="loadedService.status_id !== 2"><b> Trabajo requerido</b></ion-text>
        <ion-text class="main-color title" *ngIf="loadedService.status_id === 2"><b> Visita agendada</b></ion-text>
        <br>
        <ion-text class="subtitle">{{ loadedService.description }}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Slider -->
    <ion-row class="">
      <ion-col size="12">
        <ion-slides [options]="slideOptions">

          <!-- slide -->
          <ion-slide *ngFor="let image of loadedImgList">
            <img
              src="{{ 'http://workintest.herokuapp.com'+image.image }}"
              class="imgSlide"
            >
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>

    <!-- Fecha de realizacion -->
    <ion-row>
      <ion-col size="10" offset="1" class="ion-text-center">
        <!-- <div class="icon-cont" (click)="seModal()">
          <ion-icon name="calendar" color="light" class="icon-opts"></ion-icon>
        </div> -->
        <ion-icon name="calendar-outline" color="primary" class="icon-only"></ion-icon>
        <ion-text class="main-color title"><b> Fecha de realización</b></ion-text>
        <br>
        <ion-text class="subtitle">{{ loadedService.date_required }}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

     <!-- Rango de horas -->
     <ion-row class="ion-margin-top">
      <ion-col size="10" offset="1" class="ion-text-center">
        <!-- <div class="icon-cont" (click)="seModal()">
          <ion-icon name="calendar" color="light" class="icon-opts"></ion-icon>
        </div> -->
        <ion-icon name="time-outline" color="primary" class="icon-only"></ion-icon>
        <ion-text class="main-color title"><b> Rango de horas</b></ion-text>
        <br>
        <ion-text class="subtitle">{{ p(loadedService.hours_requestservice) }} h</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- enviar solicitud BTN -->
    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" class="ion-text-uppercase" (click)="dismiss()">
          ENTENDIDO
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

