<ion-content>
  <ion-grid fixed>
    <!-- SERVICIO Rechazado  -->
    <div style="height: 10px;"></div>
    <ion-row class="ion-margin-top">
      <ion-col size="10"  offset="1" class="ion-text-center ion-margin-top">
        <ion-text class="status-text" color="danger"><b>SIN CATEGORIAS ASIGNADAS</b></ion-text><br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <!-- subtitle  -->
    <ion-row>
      <ion-col size="10"  offset="1" class="ion-text-center ion-margin-top">
        <ion-text class="subtitle" color="danger">Contacte al administrado para que le asigne perfiles de categorias.</ion-text><br>
      </ion-col>
    </ion-row>

    <!-- finalizar trabajo BTN -->
    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" class="ion-text-uppercase" color="danger" (click)="dismissModal()">
          CERRAR SOLICITUD
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
