<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/home" text="" icon="arrow-back"></ion-back-button>
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">NOTIFICACIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- notificacion item -->
  <div class="prof-cont ion-margin-top no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <!-- <span class="titleSelect main-color">Cerrajería </span><br> -->
            <ion-badge color="primary" class="titleSelect">Cerrajería</ion-badge>&nbsp;
            <ion-icon color="primary" name="calendar" class="icon-size"></ion-icon><br>
            <span class="textSelect">
              Juan Alcayaga ha agendado una visita de valoración.
            </span><br>
            <small class="main-color">Cambio de chapas</small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4" class="ion-text-center">
          <div class="ion-text-end">
            <small class="ticket">Ticket #100091234</small>
          </div>
          <ion-text>
            <small class="ratingText main-color ion-text-center">
              16 dic 2020
            </small>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

   <!-- notificacion item -->
   <div class="prof-cont ion-margin-top no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <!-- <span class="titleSelect main-color">Cerrajería </span><br> -->
            <ion-badge color="primary" class="titleSelect">Soldadura</ion-badge>&nbsp;
            <ion-icon color="medium" name="checkmark-circle" class="icon-size"></ion-icon><br>
            <span class="textSelect">
              Santiago Pérez ha finalizado el servicio otorgado.
            </span><br>
            <small class="miniText">Se ha realizado el cargo a su tarjeta.</small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4" class="ion-text-center">
          <div class="ion-text-end">
            <small class="ticket">Ticket #100091234</small>
          </div>
          <ion-text>
            <small class="ratingText main-color ion-text-center">
              16 dic 2020
            </small>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

   <!-- notificacion item -->
   <div class="prof-cont ion-margin-top no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <!-- <span class="titleSelect main-color">Cerrajería </span><br> -->
            <ion-badge color="danger" class="titleSelect">Cerrajería</ion-badge>&nbsp;
            <ion-icon color="danger" name="alert-circle" class="icon-size"></ion-icon><br>
            <span class="textSelect">
              Juan Alcayaga ha aceptado el servicio urgente que ha solicitado.
            </span><br>
            <small class="red-color">Cambio de chapas</small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4" class="ion-text-center">
          <div class="ion-text-end">
            <small class="ticket">Ticket #100091234</small>
          </div>
          <ion-text>
            <small class="ratingText main-color ion-text-center">
              16 dic 2020
            </small>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>
