<ion-content>
  <ion-grid fixed>
    
    <!-- titulo -->
    <ion-row class="ion-margin-top">
      <ion-col size="10" offset="1" class="ion-text-center">
        <ion-text class="main-color title"><b> CONFIRMACIÓN DE SERVICIO</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Leyenda 1 -->
    <ion-row class="ion-margin-top">
      <ion-col size="10" offset="1" class="ion-text-center">
        <ion-text class="subtitle">Estos son los datos que quedarán registrados sobre el trabajo a realizar.</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- leyenda 2  -->
    <ion-row class="ion-margin-top">
      <ion-col size="10" offset="1" class="ion-text-center">
        <ion-text color="primary" class="subtitle">Debes haberlo acordado previamente con el cliente.</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Fecha de realizacion -->
    <ion-row>
      <ion-col size="10" offset="1" class="ion-text-center">
        <!-- <div class="icon-cont" (click)="seModal()">
          <ion-icon name="calendar" color="light" class="icon-opts"></ion-icon>
        </div> -->
        <ion-icon name="calendar-outline" color="primary" class="icon-only"></ion-icon>
        <ion-text class="main-color title"><b> Fecha de realización</b></ion-text>
        <br>
        <ion-text class="subtitle">{{ loadedInfo.date_required }}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

     <!-- Rango de horas -->
     <ion-row class="ion-margin-top">
      <ion-col size="10" offset="1" class="ion-text-center">
        <!-- <div class="icon-cont" (click)="seModal()">
          <ion-icon name="calendar" color="light" class="icon-opts"></ion-icon>
        </div> -->
        <ion-icon name="time-outline" color="primary" class="icon-only"></ion-icon>
        <ion-text class="main-color title"><b> Rango de horas</b></ion-text>
        <br>
        <ion-text class="subtitle">{{ p(loadedInfo.hours) }} h</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- enviar solicitud BTN -->
    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col size="1"></ion-col>
      <ion-col size="5">
        <ion-button size="5" fill="outline" class="ion-text-uppercase" (click)="dismiss()">
          Regresar
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button size="5" class="ion-text-uppercase" (click)="confirmServ()">
          Confirmar
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

